{% extends "base.html" %}

{% block body %}
<div class="container-padding">
<div class="container">

  <h1>Dry Wall Installation</h1>
  <hr>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error ipsam quis quisquam rem tempore tenetur. Dolore, maiores maxime! Beatae dolorem, dolores eaque fuga magni maiores maxime officia quo repellat?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum distinctio dolore, doloribus eos facilis illum iusto nobis odio provident quae quaerat quis quos repudiandae sapiente voluptate voluptatem. Atque, ipsum. </p>

  <h1>Troughs Construction</h1>
  <hr>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error ipsam quis quisquam rem tempore tenetur. Dolore, maiores maxime! Beatae dolorem, dolores eaque fuga magni maiores maxime officia quo repellat?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum distinctio dolore, doloribus eos facilis illum iusto nobis odio provident quae quaerat quis quos repudiandae sapiente voluptate voluptatem. Atque, ipsum. </p>

  <h1>Window Set Up</h1>
  <hr>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error ipsam quis quisquam rem tempore tenetur. Dolore, maiores maxime! Beatae dolorem, dolores eaque fuga magni maiores maxime officia quo repellat?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum distinctio dolore, doloribus eos facilis illum iusto nobis odio provident quae quaerat quis quos repudiandae sapiente voluptate voluptatem. Atque, ipsum. </p>

  <h1>Foundation</h1>
  <hr>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error ipsam quis quisquam rem tempore tenetur. Dolore, maiores maxime! Beatae dolorem, dolores eaque fuga magni maiores maxime officia quo repellat?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cum distinctio dolore, doloribus eos facilis illum iusto nobis odio provident quae quaerat quis quos repudiandae sapiente voluptate voluptatem. Atque, ipsum. </p>

</div>
</div>
{% endblock %}